# Variables de Entorno - Backend Campus UTN
PORT=3000
JWT_SECRET=campus_plataforma_academica_clave_secreta_2024
MAIL_USER=test@example.com
MAIL_PASS=testpass
DATABASE_URL=postgresql://postgres.vijwnxaziccuofaacuaq:Proyecto2026@aws-1-us-west-2.pooler.supabase.com:5432/postgres

# API Key Oficial de Groq para el Asistente IA (RAG)
GROQ_API_KEY=tu_api_key_de_groq_aqui
